@import './map-section.scss';
@import './event-info.scss';
@import './tickets-card.scss';
@import './event-photos-carousel.scss';
@import './select-ticket-section.scss';
@import './tickets-bottom-sheet.scss';

.event-details-page {
  &-inner {
    display: grid;
    grid-template-columns: 100%;
    gap: 4rem;

    .organization-details {
      padding: 2rem 0;

      &-title {
        margin-bottom: 2rem;
      }
    }

    .tickets-card-container {
      display: none;
    }

    @media screen and (min-width: $sm) {
      grid-template-columns: calc(70% - 2rem) calc(30% - 2rem);

      .tickets-card-container {
        display: block;
      }
    }
  }
}
