@import './search-bar.scss';
@import './selector.scss';
@import './pagination.scss';
@import './event-list.scss';
@import './text-search.scss';
@import './selector-container.scss';
@import './search-bottom-sheet.scss';

.search-page {
  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-data {
    text-align: center;

    img {
      margin-bottom: 4rem;
      max-width: 40rem;
      width: 60%;
    }

    h2 {
      margin: auto;
      max-width: 80%;
    }
  }
}
