.search-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: var(--search-bar-height);

  &-inner {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .selector-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 3rem;

    &:last-of-type {
      margin-right: 1rem;
    }

    & > .MuiSvgIcon-root {
      width: 2.4rem !important;
      height: 2.4rem !important;
      margin-right: 0.6rem;
    }
  }
}
