.search-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: var(--search-bar-height);
  background-color: var(--white);
  z-index: 1000;

  &-inner {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .selector-container {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 1rem;
    }
  }
}
