@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol,
ul,
dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 8rem;

  @media screen and (max-width: $md) {
    padding: 0 6rem;
  }

  @media screen and (max-width: $sm) {
    padding: 0 4rem;
  }

  @media screen and (max-width: $xs) {
    padding: 0 1.6rem;
  }
}

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}
