.page {
  padding-top: calc(var(--header-height) + var(--search-bar-height) + 6rem);
  padding-bottom: 6rem;
  min-height: calc(100vh - 6rem);

  &.error-page > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--header-height) + 6rem) 0 6rem 0;

    img.error-img {
      max-width: 60%;
      margin-bottom: 8rem;
    }
  }
}
