.page {
  padding-top: var(--header-height);

  &.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--header-height) + 6rem) 0 6rem 0;
    min-height: calc(100vh - var(--header-height));

    img.error-img {
      max-width: 60%;
      margin-bottom: 8rem;
    }
  }
}
