.home-page {
  @import './popular-events-carousel.scss';

  .hero-section {
    margin-bottom: 4rem;
  }

  .past-events-section {
    padding: 2rem 0;

    &-title {
      margin-bottom: 2rem;
    }
  }
}
